.statistics-page{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;



  .stats-blocks-list{
    display: flex;
    justify-content: space-between;
    margin-block: 2rem;
    gap: 1rem;
  }
}

.chart-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border:  none;
  border-radius: 5px;
  box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.317);
  background-color: white;
 
  padding: 1rem;
  box-sizing: border-box;

}