@use '../../variables' as vars;

$font-size: 24px;

.stats-block{
  display: flex;
  justify-content: center;
  align-items: center;

  border:  none;
  border-radius: 5px;
  box-shadow: 10px 10px 15px 1px rgba(0, 0, 0, 0.193);
  background-color: white;

  font-size: $font-size;
  padding: 10px;

  max-width: 450px;

  .icon{
    font-size: calc($font-size * 3);
  }

  p{
    margin-bottom: 10px;
  }

  .bar-chart, .percent{
    color: vars.$primary-color;
  }

}